.bonus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2vh;
  bottom: 2vh;
  left: 12em;
  right: 12em;
  background-color: #000;
}

.bonus .button {
  display: inline-block;
}

.bonus .button:first-child {
  margin-right: 1.5em;
}
