.inter {
  z-index: 100;
}

.inter h1 {
  margin-bottom: 0;
}

.ellipsis-wrapper {
  display: inline-block;
  width: 3em;
}

.ellipsis {
  display: inline-block;
  width: 0;
  overflow: hidden;
  animation: grow 4s steps(4, end);
  animation-fill-mode: forwards;
}

@keyframes grow {
  to {
    width: 4em;
  }
}
