.inter {
  z-index: 100;
}

.inter h1 {
  margin-bottom: 0;
}

.ellipsis-wrapper {
  display: inline-block;
  width: 3em;
}

.ellipsis {
  display: inline-block;
  width: 0;
  overflow: hidden;
  animation: grow 3s linear;
  animation-fill-mode: forwards;
}

@keyframes grow {
  0%,
  24% {
    width: 0;
  }

  25%,
  49% {
    width: 1em;
  }

  50%,
  74% {
    width: 2em;
  }

  75%,
  100% {
    width: 3em;
  }
}
