.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12em;
  color: #000;
  background-color: #fff;
  text-align: center;
}

.score {
  font-size: 4em;
  line-height: 1.125;
}
